:root > * {
    --md-code-font: "ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace";
    --md-code-bg-color: hsl(80, 9%, 87%);
    --md-code-fg-color: hsla(200, 18%, 26%, 1);
}

@font-face {
    font-family: "ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace";
}

.md-typeset .task-list-indicator:before {
    background-color: hsla(0, 0%, 83%, 1);
}

.md-typeset [type=checkbox]:checked + .task-list-indicator:before {
    background-color: hsla(151, 100%, 45%, 1);
}

[data-md-color-scheme="slate"] {
    --md-code-bg-color: hsla(215, 8%, 47%, 0.4);
    --md-code-fg-color: hsl(234, 76%, 95%);
}